* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #303030;
}

img {
	border: 0px;
}

#SiteBackground {
	height: 366px;
	background-image: url("img/background.png");
	background-repeat: repeat-x;
}

#Header {
	height: 105px;
	background-image: url("img/NavigationBackground.png");
	background-repeat: repeat-x;
	position: relative;
}

#Holder {
	min-width: 850px;
	position: absolute;
	top: 4px;
	left: 0px;
	width: 100%;
}

#Page {
	width: 803px;
	margin-left: auto;
	margin-right: auto;
}

#Logo {
	bottom: 0px;
	position: absolute;
}

#TopNavigation {
	position: absolute;
	left: 143px;
	width: 660px;
	bottom: 5px;
}

#Body {
	background-image: url("img/backgroundbody.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-color: white;
	min-height: 501px;
}

#VsBody {
	background-image: url("img/BodyBackground.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	min-height: 501px;
}

#VsPictureLeft {
	margin-top: 39px;
	margin-left: 68px;
	background-image: url("img/PictureBorder1.gif");
	background-position: top;
	background-repeat: no-repeat;
	height: 297px;
	width: 192px;
	position: relative;
	float: left;
}

#VsPictureLeft .Picture {
	position: absolute;
	top: 30px;
	left: 28px;
}

.ThumbDown {
	position: absolute;
	left: 34px;
	bottom: 0px;
}

.ThumbUp {
	position: absolute;
	bottom: 0px;
	right: 34px;
}

#VsPictureRight {
	background-position: top;
	background-repeat: no-repeat;
	margin-top: 39px;
	margin-right: 69px;
	float: right;
	background-image: url("img/PictureBorder2.gif");
	height: 297px;
	width: 192px;
	position: relative;
}

#VsPictureRight .Picture {
	position: absolute;
	top: 30px;
	left: 28px;
}

#Footer {
	height: 60px;
	background-color: #4d4d4d;
	background-image: url("img/FooterLogo.png");
	background-repeat: no-repeat;
	background-position: center;
	font-family: arial;
	font-size: 11px;
	text-align: center;	
	position: relative;
}

#FooterNavigation {
	margin-top: 2px;
}

#FooterText {
	position: absolute;
	bottom: 2px;
	width: 100%;
}

#Top10Bar {
	background-color: #ffff99;
	height: 125px;
	position: relative;
	font-family: arial;
	font-size: 11px;
	color: #ff0000;
	margin-left: 2px;
	margin-right: 2px;
}

#Top10Bar a {
	color: #ff0000;
}

.Top10Tab {
	float: left;
	margin-top: 3px;
	height: 17px;
	width: 90px;
	text-align: center;
}

.Top10TabActive {
	float: left;
	margin-top: 3px;
	background-color: #f9c84c;
	height: 17px;
	width: 90px;
	text-align: center;
}

.Top10TabActive a {
	text-decoration: none;
	font-weight: bold;
}

.Top10Tab a {
	text-decoration: underline; color: #ff0000;
}

#Top10Register {
	float: right;
	margin-top: 3px;
	margin-right: 4px;
}

#Top10Register a {
	text-decoration: none;
}

#PictureList {
	background-color: #f9c84c;
	height: 105px;
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.NavigationTab {
	float: left;
	width: 105px;
	margin-left: 5px;
	background-image: url("img/NavigationTab.png");
	height: 38px;
	top: 5px;
	position: relative;
    display: table;
}

.NavigationTab .TabText {
    font-family: "Georgia";
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
}

.NavigationTab:hover {
    color:orange;
}

.NavigationTabActive {
	height: 43px;
	background-image: url("img/NavigationTabActive.png");
	top: 0px;
    color: orange;
}

#PictureList ul {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	list-style-type: none;
	padding-left: 8px;
	padding-top: 3px;
}

#PictureList ul li {
	display: inline;
}

#PictureList ul li img {
	margin-right: 12px;
}

#FooterNavigation a {
	text-decoration: none;
	color: black;
}
